@* Views/Borrower/Dashboard.cshtml *@
@{
    ViewData["Title"] = "Borrower Dashboard";
}

<h1>Borrower Dashboard</h1>

<nav>
    <ul>
        <li><a href="#" id="accountMenu">Account</a></li>
    </ul>
</nav>

<div id="accountDetails"></div>

@section Scripts {
    <script src="~/js/borrowerDashboard.js"></script>
}


